<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
</head>
<body>
    <h1>Classification Page</h1>
    <form action="/classification" method="POST">
        <label for="model">Select Classification Model:</label>
        <select name="model" id="model">
            <option value="LogisticRegression_model.pkl">Logistic Regression</option>
            <option value="KNN_model.pkl">K-Nearest Neighbors</option>
            <!-- Add options for other classification models -->
        </select>
        <br><br>
        <!-- Add input fields for user data -->
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <br><br>
        <label for="height">Height:</label>
        <input type="number" name="height" id="height" step="0.01">
        <br><br>
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="weight" step="0.01">
        <br><br>
        <label for="FCVC">FCVC:</label>
        <input type="number" name="FCVC" id="FCVC" step="0.01">
        <br><br>
        <label for="NCP">NCP:</label>
        <input type="number" name="NCP" id="NCP" step="0.01">
        <br><br>
        <label for="CH2O">CH2O:</label>
        <input type="number" name="CH2O" id="CH2O" step="0.01">
        <br><br>
        <label for="FAF">FAF:</label>
        <input type="number" name="FAF" id="FAF" step="0.01">
        <br><br>
        <label for="TUE">TUE:</label>
        <input type="number" name="TUE" id="TUE" step="0.01">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
